:root {
    font-size: 62.5%;
    --h1: clamp(4.5rem, 0.956vw + 4.194rem, 5.5rem);
    --h2: clamp(3rem, 1.434vw + 2.541rem, 4.5rem);
    --h3: clamp(2rem, 0.956vw + 1.694rem, 3rem);
    --p: clamp(1.5rem, 0.478vw + 1.347rem, 2rem);
    --base: hsl(215, 24%, 18%);
    --text-light: hsl(214, 9%, 100%);
    --text-light-dark: hsl(214, 9%, 50%);
    --cta-action: hsl(217, 90%, 58%);
    --text-dark: hsl(215, 24%, 18%);
    --quote-colour: hsl(220, 12%, 91%);
    --border-radius: clamp(0.5rem, 0.478vw + 0.347rem, 1rem)    ;
}

h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

p {
    font-size: var(--p);
}

section {
    padding: 3rem;
}

.header-wrapper {
    display: flex;

}

.header-logo {
    margin-right: auto;
}

.header-link-wrapper {
    margin-left: auto;
    display: flex;
    gap: 2rem;
}

.hero-wrapper {
    display: flex;
    width: 100%;
}

.hero-content {
    flex: 2 1 20rem;
    border: 2px solid red;
    text-align: left;
}

.hero-image {
    flex: 1 2 15rem;
    border: 2px solid red;
}

.info-wrapper {
    display: flex;
    justify-items: center;
    flex-direction: column;
    text-align: center;
}

.info-grid {
    display: flex;
    flex-direction: row;    
}

.info-box {
    border: 2px solid red;
    padding: 2rem;
    flex: 1 1 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial {
    display: flex;
    justify-content: center;
    background-color: var(--quote-colour);
}

.quote {
    width: clamp(50rem, 23.901vw + 42.352rem, 75rem);
    display: flex;
    flex-direction: column;
    border: 2px solid red;
}

.quote-attribute {
    margin-left: auto;
}

.cta {
    display: flex;
    justify-content: center;
}
.cta-wrapper {
    display: flex;
    justify-content: space-between;
    width: clamp(50rem, 23.901vw + 42.352rem, 75rem);
    background-color: var(--cta-action);
    border-radius: var(--border-radius);
    padding: 3rem;
}

.button {
    margin-top: auto;
}

.testimonial {
    background-color: var(--text-light-dark);
}

.header {
    background-color: var(--base);
}

.hero {
    background-color: var(--base);
}

.header-wrapper {
    color: var(--text-light);
}

.text-dark {
    color: var(--text-light-dark);
    order: 1;
}

.text-light {
    color: var(--text-light);
}